body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(img3.jpg);
    background-size: cover;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

table, th, td {
    border: 3px solid #000000;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #d67b7b;
}

tr:nth-child(even) {
    background-color:white;
}

tr:hover {
    background-color: mediumpurple;
}
.btn5{
    font-size:1em ;
    color:white ; 
    background: #d67b7b;
    padding: 10px 20px; 
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 40%

}
.btn5:hover{
    background-color: mediumpurple;
}