body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

form {
    width: 40%;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 90%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 20px;
}

#questions_container {
    margin-bottom: 10px;
    background-color: aqua;
    border-radius: 20px;
}
#questions_container button{
    padding: 10px 20px;
    background-color: #e33030;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 300px;
    border-radius: 20px;
}

.question {
    border: 3px solid #000000;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-left: 100px;
    
}

button:hover {
    background-color: #0056b3;
}