body {
    font-family: Arial, sans-serif;
    background-image: url(img3.jpg);
    background-size: cover;
}
.navbar {
    overflow: hidden; 
}
.logo {
    float: left; 
    width: 300px;
}
.menu {
    float: right; 
    width: 700px;
    display: flex;
    justify-content: space-around;
}


.navbar a {
    border-radius: 20%;
    display: block; 
    color: #080707; 
    text-align: center;
    padding: 15px 10px; 
    border: 20%;
    text-decoration: none; 
   
}


.navbar a:hover {
    background-color: #ddd;
    border-radius:20%;
    color: black; 
}

.tout{
    background-color: #ffffffae;
    width: 60%;
    height: auto;
    margin: 50px auto; 
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    width: 80%;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#qcm_name{
    border: 3px solid #000000;  
    border-radius: 20px;
}
#questions_container button{
    padding: 10px 20px;
    background-color: #e33030;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 500px;
    border-radius: 20px;
}
#questions_container button:hover{
    background-color: #9b0909;
}

.question {
    border: 3px solid #000000;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.btn1 {
    padding: 10px 20px;
    background-color: #1181e3;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-left: 300px;
    
}
.btn3{
    padding: 10px 20px;
    background-color: #1181e3;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-left:320px; 
}

button:hover {
    background-color: #0056b3;
}
