.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}
.navbar {
    overflow: hidden; /* Permet de cacher le contenu qui dépasse de la barre de navigation */
    background-color: #c626f73e;
}

/* Style du logo */
.logo {
    float: left; /* Faire flotter le logo à gauche */
    width: 100px;
}

.menu {
    float: right; /* Faire flotter le menu à droite */
    width: 700px;
    display: flex;
    justify-content: space-around;
}

